/*.bin
/*.hfst
/*.mode
/*.prob
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/ap_include.am
/dev/testvoc/__pycache__/
/tests/out/*.current.txt
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/config.in
/config
/test/*-output.txt
