* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-swe-nor.nor-swe.lrx -text
/apertium-swe-nor.nor-swe.t1x -text
/apertium-swe-nor.nor-swe.t2x -text
/apertium-swe-nor.nor-swe.t3x -text
/apertium-swe-nor.swe-nno.lrx -text
/apertium-swe-nor.swe-nno.t1x -text
/apertium-swe-nor.swe-nno.t2x -text
/apertium-swe-nor.swe-nno.t3x -text
/apertium-swe-nor.swe-nob.lrx -text
/apertium-swe-nor.swe-nob.t1x -text
/apertium-swe-nor.swe-nob.t2x -text
/apertium-swe-nor.swe-nob.t3x -text
/apertium-swe-nor.swe-nor.dix -text
/autogen.sh -text
/configure.ac -text
dev/precommit-testvoc.sh -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
dev/wikipedia.nouns.txt -text
/modes.xml -text
texts/story.nob.txt -text
texts/story.swe.txt -text
texts/trädbank.swe.txt -text
