* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-swe-nor.nor-swe.lrx -text
/apertium-swe-nor.nor-swe.t1x -text
/apertium-swe-nor.nor-swe.t2x -text
/apertium-swe-nor.nor-swe.t3x -text
/apertium-swe-nor.swe-nno.lrx -text
/apertium-swe-nor.swe-nob.lrx -text
/apertium-swe-nor.swe-nor.dix -text
/apertium-swe-nor.swe-nor.t1x -text
/apertium-swe-nor.swe-nor.t2x -text
/apertium-swe-nor.swe-nor.t3x -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
texts/story.nob.txt -text
texts/story.swe.txt -text
